<br/>
    <div class="row">
      <div class="col-sm-8">
        <div>      
        <p><strong>History of Medicine Finding Aids</strong> is the central access point for collection finding aids provided by the archival collections held across the National Library of Medicine.</p>
        <p>These guides offer access points to large aggregations of materials and may not represent the entirety of holdings in either collection. If you do not find what you are looking for, please also consult the <a href="https://catalog.nlm.nih.gov/discovery/search?vid=01NLM_INST:01NLM_INST" target="_blank">LocatorPlus Catalog</a> or contact the NLM Support Center.</p>
        <p>New finding aids are released periodically as new collections become available.</p>
 </div>
      </div>
    </div>
